.classifyName{
    color: $grey;
}

.v-tabs__item.v-tabs__item--active {
    color: $golden;
  }
.v-btn--cancel{
    background: $grey-A100;
}
.v-btn--success{
  background: $golden;
}
.router-action{
    margin-right: 10px;
}